@import url('https://use.typekit.net/wel8ibk.css');

*, *:before, *:after {
    box-sizing: border-box;
}

html{
    background-color: var(--c-grey-white);
}

body {
    font-family: 'Proxima Nova', Arial, sans-serif;
    color: var(--c-grey-white);
}

img{
    max-width: 100%;
}

.color-orange-text{
    color: var(--c-orange);
}

button, #button{
    all: unset;
    cursor: pointer;
}

#button{
    padding: 33px 24px;
    color: var(--c-white);
    background-color: var(--c-main);
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;

    margin-bottom: 70px;

    text-transform: uppercase;
}

#button:after{
    content:'';
    display: block;
    width: 50px;
    height: 1px;
    background-color: var(--c-white);
    margin-left: 14px;
}

p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1px;

    margin: 30px 0;
}

section:not(#banner):not(#inbetweenSection) {
    padding-left: 75px;
    padding-right: 75px;
}

section h1{
    text-transform: uppercase;
    position: relative;

    text-align: center;
    width: calc( 100% + 20px);

    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 3.63636px;

}

section h1::before{
    content:attr(data-text) "AAAA";
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--c-main);
    text-decoration-thickness: 5px;

    color: transparent;

    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0); 

    white-space: nowrap;
    
}

@media screen and (max-width: 768px) {
    section h1::before{
        content: "";
    }
}


section h1::after{
    font-size: 34px;
    color: #ee6c8a;
    content: ".";
    margin-left: var(--pd-24);

}


section .youtube-player-container div{
    width: 100%;
    height: 100%;
}  