#inbetweenSection{
    position: absolute;
    bottom: 0%;

    background-color: var(--c-white);
    width: 90%;
    z-index: 1;

    min-height: 400px;
}

#inbetweenSection.left{
    left: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#inbetweenSection.right{
    right: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#about #inbetweenSection{

}


@media screen and (max-width: 1024px) {
    #inbetweenSection{
        width: 100%;
    }
}